<div class="container">
  <div class="row d-flex justify-content-center">
    <h1>Shaken OR Stirred</h1>
  </div>
  <div class="row d-flex justify-content-center">
    <h2>Make a list of cocktails to try</h2>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="row d-flex justify-content-center mb-3">
        <h4>Cocktails to try</h4>
      </div>
      <div class="row d-flex justify-content-center">
        <ul>
        {{#each cocktail}}
          <li>
            <p>ID: {{id}}</p>
            <p>Cocktail: {{cocktail_name}}</p>
            <p>Have tried: {{drank}}</p>
            <button class="change-drank" data-id="{{id}}">
            TRIED
            </button>
            <button class="delete-drink" data-id="{{this.id}}">DELETE!</button>
          </li>
        {{/each}}
      </ul>
      </div>
    </div>
    <div class="col-md-4 mt-5 mb-5 text-center">
      <h2>Add a Drink</h2>
      <form class="create-form">

        <div class="form-group">
          <label>Cocktail Name:</label>
          <input type="text" id="new-drink" name="name">
        </div>

        <button type="submit">Add Drink</button>
      </form>
    </div>
    <div class="col-md-3">
      <div class="row d-flex justify-content-center mb-3">
        <h4>Cocktails tried</h4>
      </div>
        <div class="row d-flex justify-content-center">
          <ul>
            {{#each triedCocktails}}
              <li>
                <p>ID: {{id}}</p>
                <p>Cocktail: {{cocktail_name}}</p>
                <p>Have tried: {{drank}}</p>
                <button class="delete-drink" data-id="{{this.id}}">DELETE!</button>
              </li>
            {{/each}}
          </ul>
        </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>




